@import "bootstrap/dist/css/bootstrap.min.css";


.card{
    width: 250px;
    height: 400px;
    background-color: white;
    border: 2px;
    border-color: black;
    border-radius: 25px;
    margin: auto; 
    margin-top: 20px;
    display: flex;
    
}
#cardGenerator {
    margin: auto;
    display: flex ;
    margin-top: 15px;
}
#upSideSymbol{

    float: left;
    font-size: 60px;
    margin-left: 15px;

}

#downSideSymbol{
   
   
    font-size: 60px;
    transform: rotate(-180deg);
    margin-right: 15px;
    margin-top: 20px;
}
#cardNumber{
  
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

body{
    background: green;
}